body {
  background-color: lightblue;
}

header {
  text-align: center;
}

h4 {
  font-weight: 800;
}

.shown {
  display: inline;
}

.hidden {
  display: none;
}

.container {
  margin-bottom: 10px;
}
